.about{
    margin-top: 1.5rem;
}

.about h1 {
    font-size: 3rem;
    margin-left: 90px;
    margin-bottom: 20px;
}
img{
    margin-left: 10px;
}
h2{
    margin-left: 90px;
    margin-top: 20px;
}
.info{
    width: 80%;
    margin-left: 90px;
    font-size: 18px;
}















.about-footer{
    width: 100%;
    position: absolute;

}