.about {
    margin-top: 1rem;
}

.about__hero {
    margin-top: 1rem;
}

.about h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.about h2 {
    margin-top: 20px;
}

.logo {
    margin-top: 5rem;
    width: 15rem;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    text-align: justify;
}