.blogs{
    margin-top: 6.5rem;
}

.blogs h1 {
    font-size: 40px;
}

.blogs table{
    margin-top: 2rem;
}

.blogs p{
    font-size: 13px;
    margin-top: 5px;
}

.blogs h2{
    font-size: 20px;
    margin-top: 10px;
    color: black;
}
.blogs h3{
    font-size: 13px;
    margin-top: 10px;
}

.blogs table{
    width: 100%;
}

.blogs img{
    width: 100%;
    aspect-ratio: 1/1;
}

.blogs th, td{
    width: 25%;
}

.blogs-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}