.categories{
    margin-top: 6.5rem;
}

.categories h1{
    font-size: 55px;
    margin-top: 20px;
}
.categories p{
    margin-top: 10px;
}
h3{
    margin-left: 43%;
    margin-top: 15px;
}
h4{
    float: left;
}
h5{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
}
h6{
    float: left;
    font-size: 13px;
}
h7{
    float: left;
    font-size: 15px;
}
h8{
    float: right;
    margin-right: 10px;
    font-size: 15px;
}

table{
    width: 100%;
}

table img{
    width: 100%;
    height: 300px;
}