.categories h1{
    font-size: 55px;
    margin-left: 60px;
    margin-top: 20px;
}
p{
    width: 35%;
    margin-left: 65px;
    margin-top: 10px;
}
h3{
    margin-left: 43%;
    margin-top: 15px;
}
h4{
    float: left;
    margin-left: 50px;
}
h5{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
}
h6{
    float: left;
    margin-left: 50px;
    font-size: 13px;
}
h7{
    float: left;
    margin-left: 50px;
    font-size: 15px;
}
h8{
    float: right;
    margin-right: 10px;
    font-size: 15px;
}