.checkout p {
  color: black;
  font-size: larger;
}
.checkout .box {
  display: flex;
  border: 2px solid black;
  width: 20rem;
  margin-top: 2rem;
}
.checkout .box img {
  width: 120px;
  margin-right: 2rem;
}
.checkout .box h1 {
  color: red;
  font-weight: 100;
  margin-top: 1.5rem;
}
.box2 img {
  width: 120px;
  margin-right: 2rem;
}
.box2 {
  display: flex;
  border: 2px solid black;
  width: 20rem;
  margin-top: 2rem;
}
.box2 h1 {
  color: red;
  font-size: 25px;
  font-weight: 100;
  margin-top: 1.5rem;
}
