@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

a{
    text-decoration: none;
    color: black;
}

input:focus{
    outline: none;
}

/*-------------------
Header styles start
-------------------*/
nav{

}
ul{
    
}
ol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    margin-left: 50px;
    word-spacing: 10px;
}
.rectangle{
    height: 35px;
    width: 100%;
    background-color: gray;
}