/*------------- 
css resets 
-------------*/
@import url('https://fonts.googleapis.com/css2?family =Fira+Code:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-100);
    color: var(--text-100);
}

main{
    padding: 0 6rem;
    max-width: 80rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: var(--text-100);
}

input:focus{
    outline: none;
}

body::-webkit-scrollbar {
    width: .25rem;
}
   
body::-webkit-scrollbar-track {
    background-color: var(--primary-300);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-100);
}

/*------------- 
css variables 
-------------*/
:root{
    --primary-100:#2C3E50;
    --primary-200:#57687c;
    --primary-300:#b4c7dd;
    --accent-100:#F7CAC9;
    --accent-200:#926b6a;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F2F2F2;
    --bg-200:#e8e8e8;
    --bg-300:#bfbfbf;
}

/*-------------------
Header styles start
-------------------*/
.nav{
    box-shadow: 0px 0px 15px var(--primary-100);
    position: sticky;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: var(--bg-100);
}

.nav .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
}

.nav__container .nav__brand{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav__brand img{
    width: 3.5rem;
}

.nav__brand h1{
    font-weight: 100;
    font-size: 1.25rem;
}

.nav .nav__container ul{
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
}

.nav .nav__container ul li{
    list-style-type: none;
}

.nav ul li a.nav__active{
    color: var(--primary-100);
}

.nav .nav__cta{
    display: flex;
    align-items: center;
    gap: .75rem;
}

.nav .nav__cta .nav__user i{
    font-size: 1.55rem;
    cursor: pointer;
}

.nav .nav__cta .menu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.nav .nav__mobile{
    width: 100%;
    height: 100vh;
    top: 0;
    border: 0;
    z-index: 10;
}

.nav .nav__mobile i{
    padding: 0 2px;

}
/*-------------------
Footer styles start
-------------------*/
footer{
    margin-top: 4rem;
    background-color: var(--bg-200);
    padding: 3rem 0 1rem 0;
}

.footer__container{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
}

footer h1{
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 2rem 0;
}

footer ul li{
    list-style-type: none;
}

footer .copyright{
    text-align: center;
    color: var(--text-200);
    opacity: .5;
}

footer .copyright a{
    color: var(--primary-100);
    font-weight: 700;
}

footer .copyright a:hover{
    text-decoration: underline;
}

/*-------------------
Reusable css
-------------------*/
.btn {
    border: none;
    border-radius: 3rem;
    padding: 1rem 2rem;
    background-color: var(--accent-100);
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-100);
}

.btn-solid{
    padding: 1rem 3rem;
    background-color: black;
    cursor: pointer;
    color: white;
}

.btn:hover{
    background-color: var(--accent-200);
}

.btn-solid:active,
.btn:active{
    transform: scale(1.025);
}

.card__badge{
    background-color: var(--accent-100);
    padding: .25rem .5rem;
    border-radius: 1rem;
    font-size: .65rem;
    font-weight: 600;
    width: max-content;
}

