@media (max-width: 1080px) {
    /*----- responsive navigation -----*/
    .nav .nav__container {
        padding: 1rem 1rem;
    }

    .nav .nav__container ul li{
        display: none;
    }

    .nav .nav__cta .menu{
        display: block;
    }

    /*----- responsive homepage -----*/
    .shop .shop__desc{
        display: block;
    }

    /*----- responsive footer -----*/
    footer .footer__container{
        padding: 1rem 1rem;
    }
}

@media (max-width: 900px) {
    /*----- responsive navigation -----*/
    main,
    nav .container{
        padding:.5rem 1.25rem;
    }

    /*----- responsive homepage -----*/
    .hero .hero__background{
        grid-template-columns: repeat(3, 1fr);
    }

    .hero__background img:nth-child(4){
        display: none;
    }

    .shop .shop__item{
        grid-template-columns: auto;
    }
}

@media (max-width: 768px){
    /*----- responsive homepage -----*/
    .hero .hero__desc{
        width: 90%;
    }

    .hero .hero__background{
        grid-template-columns: repeat(2, 1fr);
    }

    .hero__background img:nth-child(3),
    .hero__background img:nth-child(4){
        display: none;
    }

    .newsletter{
        display: block;
    }

    .newsletter img{
        width: 100%;
        margin-bottom: 1rem;
    }

    .newsletter__message{
        width: 100%;
    }

    /*----- responsive storepage -----*/
    .popular__card,
    .products{
        grid-template-columns: repeat(3, 1fr);
    }

    /*----- responsive footer -----*/
    footer ul{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
    }
}

@media (max-width: 530px){
    /*----- responsive navigation -----*/
    .nav__container .nav__brand h1{
        display: none;
    }
                                     
    /*----- responsive homepage -----*/
    .hero .hero__background{
        grid-template-columns: repeat(1, 1fr);
    }

    .hero__background img{
        display: none;
    }

    .hero__background img:nth-child(1){
        display: block;
    }

    .popular__card,
    .products{
        grid-template-columns: 1fr 1fr;
    }

    /*----- responsive aboutpage -----*/
    .about__hero {
        width: 100%;
    }
    
    /*----- responsive categories -----*/
    .categories__hero {
        height: auto;
    }

    .categories__hero h1 {
        font-size: 2.5rem;
        margin: 1rem 0;
        padding: 0 1.5rem;
        letter-spacing: normal;
    }

    .categories__container {
        grid-template-columns: repeat(2, 1fr);
        position: static;
    }

    .banner {
        padding: 1.5rem;
    }

    .banner .banner__desc {
        width: 100%;
    }
    
    .banner .banner__image {
        display: none;
    }

    .categories #dbtk {
        padding-top: 1.5rem;
    }
    
    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    } 

    /*----- responsive storepage -----*/
    .store .search input {
        width: 100%;
    }

    .feature {
        padding: 1.5rem;
    }

    .feature h1 {
        width: 100%;
    }

    .feature__hero {
        display: none;
    }

    /*----- responsive homepage -----*/
    .tabs {
        justify-content: end;
    }

    .tabs .brand__tags {
        display: none;
    }

    /*----- responsive blog -----*/
    .blog__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 375px){
    /*----- responsive storepage -----*/
    .popular__card,
    .products {
        grid-template-columns: 1fr;
    }
}