.store{
    margin-top: 6.5rem;
}

.store .search{
    position: relative;
    display: inline-block;
    font-size: .85rem;

}

.store .search input{
    background-color: var(--bg-200);
    border: none;
    appearance: none;
    padding: 1rem 1.5rem 1rem 3rem;
    border-radius: .5rem;
    font-size: 1.25rem;
}

.store .search i{
    position: absolute;
    top: 50%;
    left: 1rem; 
    transform: translateY(-50%);
    color: #555;
    font-size: 1.25rem;
}