/*-------------------
Home styles start
-------------------*/
.hero .hero__desc{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
}

.hero__desc h1{
    font-size: 2.5rem;
}

.hero__desc p{
    font-size: 1.25rem;
    margin: .25rem 0;
}

.hero__desc button{
}

.hero .hero__background{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.hero__background img{
    width: 100%;
    height: 100vh;
}


/*----------------------------
Popular Products styles start
----------------------------*/
.popular{
    margin-top: 3rem;
}

.popular__card{
    margin-top: .75rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.popular__card:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: pointer;
    opacity: 0;
}

.popular__card .card:hover .popular__card:nth-child(2){
    opacity: 1;
}

.popular__card .card img{
    width: 100%;
    border-radius: .5rem;
    height: 100%;
}

.card__content{
    position: relative;
    background-color: var(--bg-200);
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.card__content .card__badge{
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.card__footer h2{
    font-weight: 300;
    font-size: .85rem;
}

.card__footer h1{
    font-size: 1.115rem;
    margin-top: .25rem;
}

/*----------------------------
Popular Products styles start
----------------------------*/
.shop{
    margin-top: 3rem;
}

.shop .shop__desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

.shop .shop__desc h1{
    font-size: 3rem;
}

.shop .shop__item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


.shop__item .banner{
    border-radius: 1rem;
    height: 20rem;
}

.shop__item .shop__banner-1,
.shop__item .shop__banner-2{
    background-size: cover;
}

.shop__item .shop__banner-1{
    background-image: url('../assets/img/banner/shop-banner1.jpg');
}

.shop__item .shop__banner-2{
    background-image: url('../assets/img/banner/shop-banner2.jpg');
}

.shop__item .banner img{
    width: 100%;
    gap: 2rem;
}


.shop__item .banner__offset{
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .76);
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
}

.banner__offset h1{
    margin: 0 0 .25rem 1rem;
    font-size: 2rem;
    text-wrap: balance;
    color: #fff;
}

.shop .shop__cta{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1.5rem;
}

/*----------------------------
Marquee style start
----------------------------*/
.brands{
    margin-top: 3rem;
}

.brands h1{
    font-size: 1.5rem;
    text-align: center;
}

marquee .marquee__item{
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
    width: 100%;
    height: 60px;
}

.brands img{
    height: 50px;
}

/*----------------------------
Store page styles start
----------------------------*/
.store{
    margin-top: 6.5rem;
}

.store .search{
    position: relative;
    font-size: .85rem;
    appearance: none;
}

.store .search input{
    background-color: var(--bg-200);
    border: none;
    appearance: none;
    padding: 1rem 1.5rem 1rem 3rem;
    border-radius: .5rem;
    font-size: 1.25rem;
}

.store .search i{
    position: absolute;
    top: 50%;
    left: 1rem; 
    transform: translateY(-50%);
    color: #555;
    font-size: 1.25rem;
}

.store .feature{
    background-color: var(--primary-300);
    border-radius: 1.5rem;
    padding: 2.5rem;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.store .feature h1{
    width: 50%;
    text-wrap: balance;
    margin-bottom: 1rem;
}

.feature__hero{
    position: relative;
    width: 11.5rem;

}

.feature__hero img{
    width: 100%;
    position: absolute;
    bottom: -2.5rem;
}

.tabs{
    display: flex;
    gap: 1rem;
}

.tabs__items{
    background-color: var(--bg-200);
    padding: .75rem 1.25rem;
    border-radius: 3rem;
    cursor: pointer;
}

.tabs__items h1{
    font-size: .85rem;
    font-weight: 200;
}

.tabs .sort{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .5);
}

.tabs .sort i{
    font-size: .85rem;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.products .products__card{
    position: relative;
    cursor: pointer;
}

.products .card__thumb{
    background-color: var(--bg-200);
    border-radius: 1rem;
}

.products .card__thumb img{
    width: 100%;
}

.products .card__footer{
    text-align: center;
}

.products .card__footer h1{
    font-size: .90rem;
    font-weight: 200;
    margin-top: .5rem;
}

.products .card__footer p{
    font-size: .90rem;
    font-weight: 200;
}

.products__card .quick-view{
    background-color: black;
    border: none;
    color: #fff;
    padding: 1rem 1.25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.products__card:hover .quick-view{
    opacity: 1;
}

.store .dialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background-color: var(--bg-300);
    border: 1px solid var(--primary-100);
    outline: none;
    padding: 1rem;
}

.dialog .dialog__container{
    display: flex;
    align-items: center;
}

.dialog__container .dialog__details{
    width: 25rem;
}

.dialog__details h1{
    text-wrap: balance;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.dialog__details p{
    margin-bottom: 2rem;
}

.dialog__details select{
    margin: .25rem 0 2rem 0;
    padding: .5rem;
    outline: none;
    border: 1px solid var(--primary-100);
    background-color: transparent;
    display: block;
}

.cart{
    background-color: var(--bg-200);
    height: 159vh;
    width: 100%;
    max-width: 25rem;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 2rem;
    border: 2px solid var(--bg-300);
}

.cart__container .cart__header{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cart__container .cart__header h1{
    font-size: 1.25rem;
    font-weight: 200;
}

.cart__container .cart__header i{
    cursor: pointer;
}

/* kc style here */

.cart__container img{
    width: 150px;
}
.item{
    float: right;
    margin-top: 50px;
}
.number{
    float: right;
    margin-top: 80px;
    border-color: black;
    border-radius: 5px;
    width: 30px;
    height: 20px;
}
.price{
    float: right;
}
.check{
    width: 18px;
    height: 18px;
}
.sub{
    font-size: 20px;
    float: left;
    margin-top: 40px;
    
}
.total{
    float: right;
    margin-top: 40px;
}
    
.checkout{
    border: none;
    border-radius: 3rem;
    padding: 1rem 2rem;
    background-color: var(--accent-100);
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-100);
    width: 200px;
    margin: 20px 60px;
}

/*----------------------------
Faq's page styles start
----------------------------*/
.faqs{
    margin-top: 6rem;
}

.faqs .accordion{
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--primary-300);
    position: relative;
}

.accordion input{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.accordion .accordion__question{
    display: flex;
    justify-content: space-between;
}

.accordion .accordion__answer{
    max-height: 0;
    overflow: hidden;
}

.accordion input:checked ~ .accordion__answer{
    max-height: 10rem;
    margin-top: 1rem;
    color: var(--primary-200);
    transition: max-height 0.3s ease;
}

.faqs-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}