/*-------------------
Home styles start
-------------------*/
.hero .hero__desc{
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
}

.hero__desc h1{
    font-size: 2.5rem;
}

.hero__desc p{
    font-size: 1.25rem;
    margin: .25rem 0;
}

.hero__desc button{
}

.hero .hero__background{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.hero__background img{
    width: 100%;
    height: 100vh;
}


/*----------------------------
Popular Products styles start
----------------------------*/
.popular{
    margin-top: 3rem;
}

.popular__card{
    margin-top: .75rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.popular__card .card img{
    width: 100%;
    border-radius: .5rem;
}

.card__content{
    position: relative;
}

.card__content .card__badge{
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.card__footer h2{
    font-weight: 300;
    font-size: .85rem;
}

.card__footer h1{
    font-size: 1.115rem;
    margin-top: .25rem;
}

/*----------------------------
Popular Products styles start
----------------------------*/
.shop{
    margin-top: 3rem;
}

.shop .shop__desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

.shop .shop__desc h1{
    font-size: 3rem;
}

.shop .shop__item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


.shop__item .banner{
    border-radius: 1rem;
    height: 20rem;
}

.shop__item .shop__banner-1,
.shop__item .shop__banner-2{
    background-size: cover;
}

.shop__item .shop__banner-1{
    background-image: url('../assets/img/banner/shop-banner1.jpg');
}

.shop__item .shop__banner-2{
    background-image: url('../assets/img/banner/shop-banner2.jpg');
}

.shop__item .banner img{
    width: 100%;
    gap: 2rem;
}


.shop__item .banner__offset{
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .76);
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
}

.banner__offset h1{
    margin: 0 0 .25rem 1rem;
    font-size: 2rem;
    text-wrap: balance;
    color: #fff;
}

.shop .shop__cta{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1.5rem;
}

/*----------------------------
Marquee style start
----------------------------*/
.brands{
    margin-top: 3rem;
}

.brands h1{
    font-size: 1.5rem;
    text-align: center;
}
marquee{
    background-color: white;
    width: 100%;
    height: 60px;
}
.brands img{
    height: 50px;
}


/*----------------------------
Store page styles start
----------------------------*/
.store{
    margin-top: 6.5rem;
}

.store .search{
    position: relative;
    display: inline-block;
    font-size: .85rem;
    appearance: none;
}

.store .search input{
    background-color: var(--bg-200);
    border: none;
    appearance: none;
    padding: 1rem 1.5rem 1rem 3rem;
    border-radius: .5rem;
    font-size: 1.25rem;
}

.store .search i{
    position: absolute;
    top: 50%;
    left: 1rem; 
    transform: translateY(-50%);
    color: #555;
    font-size: 1.25rem;
}

.store .feature{
    background-color: var(--primary-300);
    border-radius: 1.5rem;
    padding: 2.5rem;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.store .feature h1{
    width: 50%;
    text-wrap: balance;
    margin-bottom: 1rem;
}

.feature__hero{
    position: relative;
    display: inline-block;
    width: 11.5rem;

}

.feature__hero img{
    width: 100%;
    position: absolute;
    bottom: -2.5rem;
}

.tabs{
    display: flex;
    gap: 1rem;
}

.tabs__items{
    background-color: var(--bg-200);
    padding: .75rem 1.25rem;
    border-radius: 3rem;
    cursor: pointer;
}

.tabs__items h1{
    font-size: .85rem;
    font-weight: 200;
}

.tabs .sort{
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .5);
}

.tabs .sort i{
    font-size: .85rem;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.products .products__card{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.products .card__thumb{
    background-color: var(--bg-200);
    border-radius: 1rem;
}

.products .card__thumb img{
    width: 100%;
}

.products .card__footer{
    text-align: center;
}

.products .card__footer h1{
    font-size: .90rem;
    font-weight: 200;
    margin-top: .5rem;
}

.products .card__footer p{
    font-size: .90rem;
    font-weight: 200;
}

.products__card .quick-view{
    background-color: black;
    border: none;
    color: #fff;
    padding: 1rem 1.25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.products__card:hover .quick-view{
    opacity: 1;
}